.gradle
.idea
build/
out/
!src/main/java/com/github/blindpirate/gogradle/build
!src/test/groovy/com/github/blindpirate/gogradle/build
classes/
*.iml
*.ipr
*.iws

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# ANTLR tokens
*.tokens
